In [54]:
import pandas as pd
import math
df = pd.read_csv('Crimes_-_Map.csv')
# This is the function that we will use to calculate the r squared value for the data. 
# It uses index column 0 and x and 1 as y where we use x to predict y. 
# the function goes calculate_r_squared(dataframe, x_idx, y_idx) where x_idx and y_idx are the index of the columns 
# that we want to use to calculate the r squared value. 
def calculate_r_squared(dataframe, x_idx, y_idx):
    column_names = dataframe.columns.to_list()
    x_column = column_names[x_idx]
    y_column = column_names[y_idx]
    x_mean = dataframe[x_column].mean()
    y_mean = dataframe[y_column].mean()

    # This calculates the S_xx and S_yy. I
    x_variance = pd.Series((dataframe[x_column] - x_mean) ** 2)
    y_variance = pd.Series((dataframe[y_column] - y_mean) ** 2)
 

    # Calculate the S_xy
    covariance = pd.Series((dataframe[x_column] - x_mean) * (dataframe[y_column] - y_mean))
    
    # This calculates the sums for the S_xx, S_yy and S_xy columns
    s_xx_sum = x_variance.sum()
    s_yy_sum = y_variance.sum()
    s_xy_sum = covariance.sum()

    # This finds the r and r squared values
    r = s_xy_sum / (math.sqrt(s_xx_sum) * math.sqrt(s_yy_sum))
    r_squared = r ** 2
    return r_squared

In [55]:
# Clean up some data to make the datasets work together.
df = df.drop(df[df['BEAT'] == 1651].index)
df = df.drop(df[df['BEAT'] == 1654].index)
df = df.drop(df[df['BEAT'] == 1655].index)
df = df.drop(df[df['BEAT'] == 1650].index)

In [56]:
crimes_per_beat = pd.Series(df['BEAT'].value_counts().sort_index())
crimes_per_beat.sort_values(ascending=False)

BEAT
1834    3174
123     2127
1831    1973
421     1951
624     1836
        ...
1125     396
1813     392
1621     267
1653     164
1652      60
Name: count, Length: 271, dtype: int64

In [57]:
df_arrests = df[df["ARREST"] == "Y"]
# Here we can see the top 10 beats with the most arrests made. The top beat is 1834 which is the beat that includes navy pier. I don't usually think of navy pier as a place with a lot of crime, but I guess I was wrong. 
# I used https://www.chicagocityscape.com/maps/index.php#/?places_type=chipolicebeat&search_term=1831 to find out where the beats are located
arrests_per_beat = pd.Series(df_arrests['BEAT'].value_counts().sort_index())
arrests_per_beat

BEAT
111     608
112     281
113     272
114      99
121      67
       ...
2531     85
2532    111
2533    249
2534    154
2535    121
Name: count, Length: 271, dtype: int64

In [58]:
# Let's find if we get similar values when we limit the crimes only to murders
df_murders = df_arrests.loc[df_arrests[" PRIMARY_DESCRIPTION"] == "HOMICIDE"]
df_murders_per_beat = df_murders['BEAT'].value_counts().sort_values(ascending=False)

In [59]:
# Let's find if we get similar values when we limit the crimes only to thefts
df_thefts = df_arrests.loc[df_arrests[" PRIMARY_DESCRIPTION"] == "THEFT"]
df_thefts_per_beat = df_thefts['BEAT'].value_counts().sort_index(ascending= True)

In [60]:
# This is the function that we will use to calculate the r squared value for the data. 
# It uses index column 0 and x and 1 as y where we use x to predict y. 
# the function goes calculate_r_squared(dataframe, x_idx, y_idx) where x_idx and y_idx are the index of the columns 
# that we want to use to calculate the r squared value. 
demo = pd.read_csv("master1.csv")
demo.insert(1, "arrests", arrests_per_beat.values)
highest_r_squared = 0
column_names = demo.columns.to_list() # This allows me to output the column names for the 
# for the highest r squared values columns 
for i in range(2, 62):
    # This if statements checks the r squared value between each column of demographic data and the arrest date
    # and if it is higher than the 
    # previous r squared value it prints the column name, index and the r squared value.
    if calculate_r_squared(demo,i,1) >= highest_r_squared:
        highest_r_squared = calculate_r_squared(demo,i,1)
        print(column_names[i], i, calculate_r_squared(demo,i,1))
    else:
        continue
# It seems that percentage on food stamps is the best predictor of number of arrests made.

population 2 0.02215597745347898
square_mileage 3 0.024794259655794817
45-49 15 0.026701535757889975
25-29 19 0.02705479044427061
22-29 29 0.02708401454395484
percent_on_fs 37 0.05268561424820512

In [61]:
demo = pd.read_csv("master1.csv")
demo.insert(1, "crimes", crimes_per_beat.values)
highest_r_squared = 0
column_names = demo.columns.to_list() # This allows me to output the column names for the 
# for the highest r squared values columns 
for i in range(2, 62):
    # This if statements checks the r squared value between each column of demographic data and the arrest date
    # and if it is higher than the  previous r squared value it prints the column name, index and the r squared value.
    if calculate_r_squared(demo,i,1) >= highest_r_squared:
        highest_r_squared = calculate_r_squared(demo,i,1)
        print(column_names[i], i, calculate_r_squared(demo,i,1))
    else:
        continue

# It seems that number of people on food stamps is the best predictor of number of crimes as well. Though
# food stamps are a better predictor of amount of crime than number of arrests as 
# evidenced by the r squared value.

population 2 0.013463029753834581
households 4 0.016077867639602873
21 21 0.025915523004470194
pop_food_stamps 36 0.10729309451070793

In [62]:
# Find the most common crime in the data set
df_crimes = df[" PRIMARY_DESCRIPTION"].value_counts().sort_values(ascending=False)
print(df_crimes.head(5))
# It seems that the most commonly reported crime is theft
# Now lets find the most common arrestable crime
df_arrest_crime = df_arrests[" PRIMARY_DESCRIPTION"].value_counts().sort_values(ascending=False)
print(df_arrest_crime.head(5))
# It seems that the most common crime to be arrest for is battery.

 PRIMARY_DESCRIPTION
THEFT                  56849
BATTERY                44238
CRIMINAL DAMAGE        29764
MOTOR VEHICLE THEFT    27583
ASSAULT                22647
Name: count, dtype: int64
 PRIMARY_DESCRIPTION
BATTERY              6940
WEAPONS VIOLATION    4881
NARCOTICS            4819
THEFT                2883
OTHER OFFENSE        2623
Name: count, dtype: int64

In [63]:
# Where in Chicago has the most crime for its population? 
demo['Crime_density'] = demo['crimes'] / demo['population']
demo_sort_crime_capita = demo.sort_values(by='Crime_density', ascending= False)
demo_sort_crime_capita.head(10)
# It seems that beat 112 which is in the middle of the loop has the highest crime density.

,beat,crimes,population,square_mileage,households,85,80-84,75-79,70-74,67-69,...,percent_se_0-4,percent_se_5-9,percent_se_10-14,percent_se_15-17,percent_se_18-19,percent_se_20-24,percent_se_25-34,youngPop,percent_se_35+,Crime_density
1,112,1506,1075.282355,0.086060,451.507469,0.000000,16.789681,27.096763,28.296418,16.228243,...,23.278445,100.000000,100.000000,100.000000,98.856268,78.819322,26.861461,370.210031,1.228801,1.400562
0,111,1752,1982.585454,0.106797,987.838731,0.000000,19.444439,29.959579,24.035301,12.186576,...,83.002531,99.900983,100.000000,100.000000,97.448466,52.211998,27.498145,514.643608,0.818351,0.883695
2,113,919,1072.951867,0.087558,358.127847,0.000000,1.343759,2.809903,17.071592,15.489847,...,0.000000,100.000000,100.000000,100.000000,99.360813,84.641884,27.013032,332.381964,1.258874,0.856516
206,1822,1054,2861.781201,0.595421,1717.311295,46.866042,19.651985,47.982494,245.458056,117.695127,...,0.886825,51.126483,100.000000,100.000000,75.001108,29.287005,4.479290,1456.917980,2.028569,0.368302
7,124,1100,3296.777004,0.504956,830.414942,0.000000,6.842741,1.425041,35.077150,26.510459,...,83.691166,99.996212,100.000000,99.965971,99.990941,93.271818,13.723602,874.701040,0.980952,0.333659
5,122,1405,4247.319080,0.291212,1851.191523,0.000000,8.074287,8.169367,49.419684,46.778924,...,1.114998,99.920985,100.000000,100.000000,97.410066,65.412645,24.347769,1543.901679,1.903243,0.330797
132,1115,784,2493.957781,0.171909,759.278588,45.896745,42.308417,36.528035,25.201447,48.645099,...,39.199612,99.357091,99.358984,91.530208,48.092286,8.161223,10.780664,1017.654269,1.539814,0.314360
21,231,716,2301.134739,0.251106,808.538224,28.608870,11.729329,40.330231,44.709086,51.996280,...,31.653530,97.943074,98.711315,94.380255,65.409489,50.996573,11.312114,922.724990,3.754682,0.311151
207,1823,1112,3601.071080,0.224399,1896.902303,8.952437,28.300534,35.820188,41.566910,63.987463,...,91.339722,99.999554,100.000000,85.714314,74.460683,27.751746,17.474216,1498.993586,2.542840,0.308797
76,722,848,3172.666708,0.474211,1442.750620,52.310481,64.849214,61.031935,103.799430,77.167651,...,40.028400,92.853076,92.821122,95.258742,78.460627,21.376190,13.166043,1447.115507,4.222222,0.267283

In [64]:
# Now let's see which youngsters are the best behaved
demo['Crime_density_young'] = demo['crimes'] / demo['youngPop']
demo.sort_values(by='Crime_density_young', ascending= False)
# It seems that beat 112 which is in the middle of the loop has the highest crime density yet again. I'm guessing it comes from plenty 
# of people going to the loop to work and then leaving the loop to go home.

,beat,crimes,population,square_mileage,households,85,80-84,75-79,70-74,67-69,...,percent_se_5-9,percent_se_10-14,percent_se_15-17,percent_se_18-19,percent_se_20-24,percent_se_25-34,youngPop,percent_se_35+,Crime_density,Crime_density_young
1,112,1506,1075.282355,0.086060,451.507469,0.000000,16.789681,27.096763,28.296418,16.228243,...,100.000000,100.000000,100.000000,98.856268,78.819322,26.861461,370.210031,1.228801,1.400562,4.067961
0,111,1752,1982.585454,0.106797,987.838731,0.000000,19.444439,29.959579,24.035301,12.186576,...,99.900983,100.000000,100.000000,97.448466,52.211998,27.498145,514.643608,0.818351,0.883695,3.404298
2,113,919,1072.951867,0.087558,358.127847,0.000000,1.343759,2.809903,17.071592,15.489847,...,100.000000,100.000000,100.000000,99.360813,84.641884,27.013032,332.381964,1.258874,0.856516,2.764891
7,124,1100,3296.777004,0.504956,830.414942,0.000000,6.842741,1.425041,35.077150,26.510459,...,99.996212,100.000000,99.965971,99.990941,93.271818,13.723602,874.701040,0.980952,0.333659,1.257573
5,122,1405,4247.319080,0.291212,1851.191523,0.000000,8.074287,8.169367,49.419684,46.778924,...,99.920985,100.000000,100.000000,97.410066,65.412645,24.347769,1543.901679,1.903243,0.330797,0.910032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,1824,564,21505.609928,0.327145,14243.810549,533.722285,697.590869,869.177093,1705.608680,1078.590914,...,89.041211,100.000000,100.000000,100.000000,40.890182,16.255301,12131.483132,2.345375,0.026226,0.046491
179,1611,490,17989.306241,1.993424,7302.166166,514.156504,609.377263,534.621104,762.977106,472.878687,...,93.421149,98.757017,89.613523,80.549465,54.072837,15.453948,10699.881479,2.922185,0.027238,0.045795
237,2211,529,22977.454650,3.337691,8056.180334,369.970070,344.156050,385.734851,673.986028,446.121187,...,96.202533,96.631588,98.542233,94.777010,62.288020,14.220965,12255.715365,3.023398,0.023023,0.043164
183,1621,267,11070.111491,2.489748,4120.169191,372.832283,269.523557,317.426676,373.463623,352.964272,...,98.717367,97.214613,97.106414,74.855982,39.189678,7.632027,6617.386597,2.884279,0.024119,0.040348
192,1711,164,18053.248726,2.014141,6227.088749,618.301851,574.084160,781.084791,878.887783,727.331394,...,89.776213,91.636588,99.080213,83.864344,63.250181,22.678558,10481.610069,3.072437,0.009084,0.015646

TypeError: Cannot convert input [0         08/31/2023 07:00:00 PM
1         09/15/2023 11:20:00 PM
2         08/31/2023 09:13:00 PM
3         09/15/2023 06:00:00 PM
4         09/15/2023 05:29:00 PM
                   ...
257326    03/29/2023 05:59:00 PM
257327    06/14/2023 12:07:00 PM
257328    07/31/2023 12:00:00 AM
257329    06/18/2023 01:05:00 AM
257330    06/27/2023 05:02:00 AM
Name: DATE_OF_OCCURRENCE, Length: 257331, dtype: object] of type <class 'pandas.core.series.Series'> to Timestamp