In [1]:
import pandas as pd
df = pd.read_csv("Z-test T-test Practice Sheet4.csv")

In [4]:
df['Under18'] = df['Age'] < 18
df

     Age Gender (M, F, X)  Under18
0     37                M    False
1      2                F     True
2     30                M    False
3     30                F    False
4     21                F    False
..   ...              ...      ...
495   20                M    False
496   26                F    False
497   22                M    False
498   43                F    False
499   21                F    False

[500 rows x 3 columns]

In [5]:
df.Under18.value_counts()

Under18
False    347
True     153
Name: count, dtype: int64

In [6]:
500 * .24

120.0